spring:
  application:
  name: slik_v2_server

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: always
      data-locations:
        - classpath:data.sql
        - classpath:attendance_time_set.sql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: 3600000

  security:
    KEY: ${X-API-KEY}

  Dodam:
    API_KEY: ${API-KEY}